:root {
    --main-color: #efefef;
    --primary-color: #1d2d3d;
    --secondary-color:#495e74 ;
    --gray-color: #778697;
    --dark-color: #292b2c;
    --blue-color: #0275d8;
    --green-color: #27ae60;
    --green-sea-color: #16a085;
    --pumpkin-color: #d35400;
    --red-color: #d9534f;
    --white-color: #fff;
    --Strong-Cyan:#089da1;
  }
.Web-front-end-project{
 

}
.logo{

width:10%;
height: 20%;

}

/* Media Query */
@media (max-width: 990px) {
   
    }

    .header{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #ffffff;
border-bottom: solid var(--Strong-Cyan)  ;
padding: 1%;
border-bottom: 2px solid #089da1;
box-shadow: 0 4px 6px -4px #089da1;

    }
.list-componnent{
    display: flex;
    gap: 20px;
 
}
.icons{
display: flex;
justify-content: space-between;
gap: 10px;
}
   
.section1 >img{
    width:70%;
    height: 60%;
  
    top: 20%;
    left: 10%;
    right: 10%;
    width: 70%;
    opacity: 0.1; 
    z-index: -1;   
  
    
}
.section1{
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}